.courses-wrapper {
  background: url('/img/Golfing dusk.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 35px;
  border: 45px;
  color: white;


.course-image {

margin-left: 40px;
display: flex;
justify-content: center;
align-items: center;
border: 35px;
border-color: white;


  width: 525px;
  height: 300px;
  }

}

.course-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 55px;
}
